@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
body,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
}


.other-message {
  background-color: var(--bg-primary)!important;
  border: 2px solid var(--bg-accent);
}

.timestamp-other {
  color: #f0f0f0!important;
}


