@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
body,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
}
