.container {
  background-color: var(--bg-primary);
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

svg {
  width: min(450px, 80%);
  height: min(400px, 80%);
}

form {
  display: flex;
  flex-direction: column;
  width: min(400px, 85%);
  p {
    text-align: center;
    font-size: 1.3rem;
  }
  label {
    font-size: 1.3rem;
    margin-bottom: 1em;
    text-align: center;
  }

  input {
    height: 40px;
    color: black;
  }

}

#nickname {
  border-radius: var(--border-radius);
  padding: .5rem .7rem;
}

button {
  border-radius: var(--border-radius);
  border: none;
  background: #2196f3 none;
  cursor: pointer;
  color: white;
  margin: 1em 0;
	padding: .6em 2.2em;
  text-align: center;
}
