:host {
  background-color: var(--bg-primary);
  height: 100%;
  width: 100%;

  border-right: 1px solid rgb(16,15,16);
  border-left: 1px solid rgb(16,15,16);
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
