:host {
  width: 100%;
  height: 100%;
  //overflow: scroll;
  //overflow-x: hidden;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  margin-bottom: .5rem;

  scrollbar-width: thin;
  scrollbar-color: var(--accent);

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #1d1d1e;
  }

  &::-webkit-scrollbar-thumb {
    background: #757576;
  }


  & > * {
    flex: 0 0 auto;
  }


  .message-container {
    width: min(52vw, 935px);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1rem 1rem 0 1.125rem;
  }

}
