:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  margin-bottom: .5rem;

  scrollbar-width: auto;
  scrollbar-color: var(--bg-primary);

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-primary);
  }

  &::-webkit-scrollbar-thumb {
    background: #757576;
  }


  & > * {
    flex: 0 0 auto;
  }


  .message-container {
    position: relative;
    width: min(100%, 900px);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 4rem 1rem 0 1.125rem;
  }

  .load-more-btn {
    border: none;
    width: 150px;
    background: var(--bg-secondary) none;
    cursor: pointer;
    color: white;
    position: absolute;
    border-radius: .7rem;
    top:0;
    left: calc(50% - 75px);
    margin: 0.7em 0;
    padding: 0.5em 1.8em;
    text-align: center;
  }

}

.day-divider {
  border: none;
  //width: 150px;
  color: var(--text-secondary);
  cursor: pointer;
  border-radius: .7rem;
  margin: .4em auto;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before{
    display: inline-block;
    content: '';
    background-color: var(--text-primary);
    width: 45%;
    height: 1px;
  }
  &::after {
    display: inline-block;
    content: '';
    background-color: var(--text-primary);
    width: 45%;
    height: 1px;
  }
}
