<div class="message-container">
  <button class="load-more-btn" *ngIf="(statusService.connectionStatus$ | async) && messageGroups" (click)="loadMore()">Load more</button>

  <div *ngIf="messageGroups.size">

      <div *ngFor="let key of messageGroups.keys()">
        <app-message
          *ngFor="let message of messageGroups.get(key)"
          #msg
          [message]="message"
        ></app-message>
        <div class="day-divider" *ngIf="key | messageDateDivider">
          {{key | messageDateDivider}}
        </div>
      </div>
    </div>



  <div #flag></div>

</div>
