:host {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}

.contacts {
  padding-top: 1rem;
  height: 100%;
  background-color: var(--secondary);
  flex: 1;
  min-width: 18rem;
  max-width: 26.5rem;
  transition: background-color .2s;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  align-items: center;

  .search {
    max-width: 90%;
    position: relative;
    width: 100%;
    color: #2c2c2c;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 1.35rem;
    transition: border-color .15s ease;


    input {
      height: 2.5rem;
      margin-bottom: 0;
      border: none!important;
      border-radius: 1.375rem;
      background-color: initial !important;
      padding: .5rem 3rem .75rem 3rem;
      width: 100%;
    }
    input:focus {
      outline: none!important;
      box-shadow: 0 0 0 2px var(--accent);
    }

    #search {
      position: absolute;
      top: .5rem;
      left: .75rem;
      font-size: 1.5rem;
      color: var(--text-secondary);
    }

    #clear {
      position: absolute;
      top: .7rem;
      right: 1rem;
      font-size: 1rem;
      color: var(--text-secondary);
    }

    #clear:hover {
      cursor: pointer;
    }
  }

}


.contact-list {
  margin-top: 1.1rem;
  border-top: 1px solid #525252;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: .5rem .3rem .5rem .3rem;
  scrollbar-width: thin;
  scrollbar-color: var(--accent);

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #1d1d1e;
  }

  &::-webkit-scrollbar-thumb {
    background: #757576;
  }

  & > * {
    flex: 0 0 auto;
  }

  & > div:first-of-type {
    margin-top: .3rem;
  }

  .contact {
    height: min-content;
    width: 100%;
    margin: 0 0 .5rem 0;
    cursor: pointer;
    padding: .5625rem .6975rem .5625rem .5625rem;
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }



  .status {
    font-size: 1rem;
    line-height: 1.6875rem;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: .5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.375rem;
    height: 3.375rem;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    background-color: orange;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    .title {
      width: auto;
      padding-right: .125rem;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & > p {
        font-size: 1.2rem;
        font-weight: 900;
      }
    }

    .last-read {
      margin-left: auto;
      color: var(--text-secondary);
    }

    .subtitle {
      padding-right: .125rem;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .last-message {
        color: var(--text-secondary);
        padding-right: .25rem;
        flex-grow: 1;
        font-size: 1rem;
        line-height: 1.6875rem;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

  }

  .contact:not(.active):hover {
    background-color: rgba(255,255,255,0.08);
    border-radius: 1rem;
  }
}

.active {
  background-color: var(--accent);
  border-radius: 1rem;

  .info * {
    color: var(--text-primary)!important;
  }
}



.chat {
  background-color: var(--primary);
  height: 100%;
  width: 70%;
  border-right: 1px solid rgb(16,15,16);
  border-left: 1px solid rgb(16,15,16);
  max-width: calc(1600px - 26.5rem);
  flex: 3;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;


  .chat-header {
    background-color: var(--secondary);
    display: flex;
    //flex-grow: 1;
    overflow: hidden;
    align-items: center;
    height: 5.8rem;
    padding: .5rem .8125rem .5rem 1.5rem;

    .chat-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: orange;
      margin-right: .8rem;
      font-size: .9rem;
      width: 2.8rem;
      height: 2.8rem;
      overflow: hidden;
    }

    .chat-nickname {
      font-weight: 900;
    }

    .last-seen {
      color: var(--text-secondary);
    }
  }


  .chat-body {
    width: 100%;
    height: 100%;
    //overflow: scroll;
    //overflow-x: hidden;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;

    scrollbar-width: thin;
    scrollbar-color: var(--accent);

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #1d1d1e;
    }

    &::-webkit-scrollbar-thumb {
      background: #757576;
    }


    & > * {
      flex: 0 0 auto;
    }


    .message-container {
      width: min(52vw, 935px);
      min-height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding: 1rem 1rem 0 1.125rem;


      .message {
        margin-bottom: .625rem;
        display: flex;
        align-items: flex-end;
        flex-direction: row;

        .message-wrapper {
          padding: .3125rem .5rem .375rem;
          width: max-content;
          max-width: 25rem;
          background-color: var(--secondary);
          border-radius: .75rem .75rem .75rem 0;
          margin: 0;
          position: relative;
          word-break: break-word;
          line-height: 1.3125;
          text-align: initial;
          display: flow-root;

          .message-timestamp {
            height: 1.25rem;
            position: relative;
            top: .4375rem;
            right: 0;
            bottom: auto !important;
            float: right;
            line-height: 1;
            margin-left: .4375rem;
            margin-right: .12rem;
            font-size: .8rem;
            display: flex;
            align-items: center;
            padding: 0 .25rem;
            color: rgba(255, 255, 255, 0.6);
            max-width: 100%;
          }

        }

      }

      .message.owner {
        flex-direction: row-reverse;
      }

      .message.owner .message-wrapper {
        background-color: var(--accent);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: .75rem;
      }

    }

  }


  .message-input {
    width: min(50vw, 900px);
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto 1.25rem;
    padding: .5rem 1rem;
    align-items: center;
    border-radius: .75rem;
    background: var(--secondary);

    .message-box {
      border: none;
      background: none;
      height: 50px;
      width: 100%;
      word-break: break-word;
    }

    .message-box:focus {
      outline: none;
    }

    .send-btn {
      background: none;
      border: none;
      margin-left: .5rem;
    }

    .send-btn span {
      color: var(--accent);
    }

  }

}



