<!--<div class="container">-->
<!--  <div class="message-container">-->
<!--    <app-message-card *ngFor="let message of messages" [message]="message"></app-message-card>-->
<!--  </div>-->

<!--  <form (ngSubmit)="send()">-->
<!--    <textarea [formControl]="content"></textarea>-->
<!--    <button type="submit"> Send </button>-->
<!--  </form>-->
<!--</div>-->

<div class="contacts">
  <div class="search">
    <span id="search" class="material-icons">search</span>
    <input type="text" placeholder="Search">
    <span id="clear" class="material-icons">clear</span>
  </div>
  <div class="contact-list">

    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
              Come va?
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>


    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>


    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>


    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>


    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>


    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="status">
        Avatar
      </div>
      <div class="info">
        <div class="title">
          <p>Bob</p>
          <div class="last-read">
            10:22
          </div>
        </div>
        <div class="subtitle">
          <div class="last-message">
            Come va?
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="chat">


  <div class="chat-header">
      <div class="chat-avatar">
        Avatar
      </div>
      <div class="chat-info">
        <p class="chat-nickname">Bob</p>
        <p class="last-seen">last seen recently</p>
      </div>
  </div>

  <div class="chat-body">
    <div class="message-container">

      <div class="message owner">
        <div class="message-wrapper">
          Ciao
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Hey
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Come va?
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message owner">
        <div class="message-wrapper">
          Tutto ok
          <span class="message-timestamp">11:25</span>
        </div>
      </div>
      <div class="message owner">
        <div class="message-wrapper">
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Come va?
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Taaaaac
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Non so cosa scrivere
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum eius, est ex harum incidunt libero magni possimus reiciendis sed similique sint sit soluta voluptatum.
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message owner">
        <div class="message-wrapper">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur dolorum ex fugit neque obcaecati officiis, soluta. Aut cupiditate dolor error hic labore modi nemo, nostrum veniam. Ad animi atque dicta doloremque enim esse eum eveniet facilis impedit iure magnam modi nam odit perspiciatis, porro, quae quisquam reprehenderit, rerum suscipit!
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci est explicabo magni mollitia non quasi quidem vitae voluptas! Blanditiis, deleniti dolores eius enim fugiat in molestias quibusdam repellat rerum voluptatibus.
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message owner">
        <div class="message-wrapper">
          Boooh
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Cosa ne pensate
          <span class="message-timestamp">11:25</span>
        </div>
      </div>

      <div class="message">
        <div class="message-wrapper">
          Vi piace?
          <span class="message-timestamp">11:25</span>
        </div>
      </div>



    </div>
  </div>


  <form class="message-input">
    <input type="text" class="message-box" placeholder="Send a message">
    <button class="send-btn" type="submit" >
      <span class="material-icons">send</span>
    </button>
  </form>

</div>


