.message-input {
  width: min(50vw, 900px);
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto 1.25rem;
  padding: .5rem 1rem;
  align-items: center;
  border-radius: .75rem;
  background: var(--secondary);

  .message-box {
    border: none;
    background: none;
    height: 50px;
    width: 100%;
    word-break: break-word;
  }

  .message-box:focus {
    outline: none;
  }

  .send-btn {
    background: none;
    border: none;
    margin-left: .5rem;
  }

  .send-btn span {
    color: var(--accent);
  }

}
