.message {
  margin-bottom: .625rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;

  .message-wrapper {
    padding: .3125rem .5rem .375rem;
    width: max-content;
    max-width: 25rem;
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
    margin: 0;
    position: relative;
    word-break: break-word;
    line-height: 1.3125;

    .message-timestamp {
      height: 1.25rem;
      position: relative;
      top: .4375rem;
      right: 0;
      bottom: auto !important;
      float: right;
      line-height: 1;
      margin-left: .4375rem;
      margin-right: .12rem;
      font-size: .8rem;
      display: flex;
      align-items: center;
      padding: 0 .25rem;
      color: rgba(255, 255, 255, 0.6);
      max-width: 100%;
    }

  }

}

.message.owner {
  flex-direction: row-reverse;
}

.message.owner .message-wrapper {
  //background-color: var(--accent);
  //
  background-color: var(--bg-primary);
  border: 2px solid var(--bg-secondary);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: var(--border-radius);
}

p {
  font-weight: bold;
  color: var(--bg-accent);
}
