:root {
  --accent: #656565;
  --primary: #0f0f0f;
  --secondary: #212121;
  --text-primary: #656565;
  --text-secondary: #a1a4a5;
//  background nuvola owner accent

  --bg-primary: #2f2c42;
  --bg-primary-dark: #252335;
  --bg-secondary: #2196f3;
  --bg-accent: #ee2e57;

  --border-radius: .7rem;

}

